body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.accordion {
  margin: auto;
  width: 400px;
}

h2 .icon {
  display: inline-flex;
}

.overlay {
  display: none;
}

ul {
  list-style: none;
}

h2:hover ~ .overlay {
  transition: all 0.5s ease-out;
  display: block;
}
